@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --azuloscuropastel: #9abfcf;
  --azulclaropastel: #afced1;
  --verdepastel: #6cc099;
  --amarillopastel: #ffdc9c;
  --rosapastel: #ffb6ad;
  --rojopastel: #ee6f6f;
  --grispastel: #e5decf;
  --grisoscuropastel: #afb7bb;
  --grisclaropastel: #e8e8e8;
  --bordemaqueta: 2px solid black;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Questrial, sans-serif;
  font-size: large;
}

* {
  box-sizing: border-box;
}

.roulette-container {
  margin-left: 260px;
}

.chat-view {
  max-width: auto; /* Cambia el ancho según tus necesidades */
  max-height: auto; /* Cambia el alto según tus necesidades */
  margin-left: 500px; /* Centra el contenedor */
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chat {
  max-width: 100%;
  max-height: 100%;
}
